# KDAG HACKATHON

* Importing the Libraries

In [3]:
# Numpy & Pandas for Data Manipulation
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow import keras

* Reading the given HCP dataset

In [4]:
hcp_df=pd.read_excel('HCP_Data_KDAG_Hackathon.xlsx')

# Data Exploration

* Getting the head of the Data

In [5]:
hcp_df.head()

,Physician_ID,Time_Period,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Physician_Segment,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped,Specialty
0,axt00001,20190104,0.0,2.80567,1,0,3-Low,0,0,0,Dermatologist
1,axt00001,20190111,0.0,20.57312,1,0,3-Low,0,0,0,Dermatologist
2,axt00001,20190118,0.0,6.16010,1,0,3-Low,0,0,0,Dermatologist
3,axt00001,20190125,0.0,8.95501,1,5,3-Low,0,0,0,Dermatologist
4,axt00001,20190201,0.0,9.13793,1,0,3-Low,0,0,0,Dermatologist

* Getting the basic information about the dataset

In [6]:
hcp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570000 entries, 0 to 569999
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Physician_ID               570000 non-null  object
 1   Time_Period                570000 non-null  int64
 2   Brand_Rx                   570000 non-null  float64
 3   Market_Rx                  570000 non-null  float64
 4   Sales_Rep_Calls            570000 non-null  int64
 5   Samples_Dropped            570000 non-null  int64
 6   Physician_Segment          570000 non-null  object
 7   Emails_Delivered           570000 non-null  int64
 8   Speaker_Programs_Attended  570000 non-null  int64
 9   Vouchers_Dropped           570000 non-null  int64
 10  Specialty                  570000 non-null  object
dtypes: float64(2), int64(6), object(3)
memory usage: 47.8+ MB

* Getting the Statistical data

In [7]:
hcp_df.describe()

,Time_Period,Brand_Rx,Market_Rx,Sales_Rep_Calls,Samples_Dropped,Emails_Delivered,Speaker_Programs_Attended,Vouchers_Dropped
count,5.700000e+05,570000.000000,570000.000000,570000.000000,570000.000000,570000.000000,570000.000000,570000.000000
mean,2.019150e+07,0.682828,7.988949,0.391295,0.865719,0.271174,0.005746,0.042044
std,2.693162e+03,1.369037,10.599537,0.488041,3.437103,0.710370,0.076183,0.448897
min,2.019010e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.019041e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.019072e+07,0.000000,5.081410,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.019102e+07,1.004000,10.910640,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.020013e+07,64.255000,259.966980,1.000000,156.000000,8.000000,2.000000,23.000000

* Getting the maximum of all the promotional parameters per data point and storing it in 'max' column

In [8]:
# channel 1 for sales_rep_calls
# channel 2 for samples_dropped
# channel 0 for emails_delivered 
# channel 3 for Speaker_Programs_Attended
# channel 4 for Vouchers_Dropped

hcp_df["max"]=hcp_df[['Sales_Rep_Calls','Samples_Dropped','Emails_Delivered','Speaker_Programs_Attended','Vouchers_Dropped']].idxmax(axis=1)
print(hcp_df["max"])

0          Sales_Rep_Calls
1          Sales_Rep_Calls
2          Sales_Rep_Calls
3          Samples_Dropped
4          Sales_Rep_Calls
                ...
569995    Emails_Delivered
569996     Sales_Rep_Calls
569997    Emails_Delivered
569998    Emails_Delivered
569999     Sales_Rep_Calls
Name: max, Length: 570000, dtype: object